body {
	background-image: url("img/bg.png");
}
.container
{
	margin-left: auto;
	margin-right: auto;
	min-height: 95.5vh;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
}
#top
{
	margin-bottom: 15px;
	margin-top: 15px;
}
#top ul
{
	padding: 0.5em;
	background-color: rgba(251, 228, 211, 0.5);
}
#top li
{
	display: inline;
	margin: 0 10px 0 10px;
}
#top h1
{
	font-size: 3vw;
}
#top img
{
	display: inline-flex;
	max-height: 100%; 
	max-width: 100%;
}
#sidebar
{
	float: left;
	width: 10em;
}
#sidebar ul
{
	margin-left: -3.5em;
	border: 1.2px solid #000;
	background-color: rgba(251, 228, 211, 0.3);
	list-style: none;
}
#sidebar li
{
	margin-bottom: 1%;
	padding: 5%;
	border-bottom: 1.2px solid black;
}
#sidebar li:last-child
{
	border-bottom: none;
}
input 
{
	font-size: 0.8em;
	padding: 5px;
	border-radius: 5px;
	margin-top: 0.25em;
	border: 1px solid grey;
}
.inventory
{
	display: inline-block;
	min-width: 5%;
	min-height: 5%;
}
.submit 
{
	border : solid 1px #e6e6e6;
	border-radius : 3px;
	box-shadow : 0px 0px 1px rgba(0,0,0,1.0);
	color : #696869;
	padding : 1px 17px;
	background : #ffffff;
}
.block
{
	max-width: auto;
	margin: 5px;
	padding: 8px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid black;
	border-radius: 5px;
}
.block span
{
	position: relative;
	font-size: 82%;
	margin-top: 5.4em;
}
.table td
{
	border: 1px solid black;
	max-width: 20px;
	padding: 5px;
	text-align: left;
}
#middle .form-control
{
	display: inline-block;
	margin-bottom: 5px;
	width: auto;
}
#bottom
{
	font-size: smaller;
	margin: 20px;
}
#bottom a 
{
	text-decoration: none;
}